<script>
  function calculateDiscountedPrice(originalPrice, discountPercentage) {
    const discountAmount = originalPrice * (discountPercentage / 100);
    const discountedPrice = originalPrice - discountAmount;
    return discountedPrice;
  }

  function applyDiscount(product, discountPercentage) {
    const discountedPrice = calculateDiscountedPrice(product.price, discountPercentage);
    product.discountedPrice = discountedPrice;
    return product;
  }

  let product = {name: "", price: 0, discountedPrice: 0};
  let discountPercentage = 0;

  function handleSubmit(event) {
    event.preventDefault();
    product.name = event.target.querySelector('#product-name').value;
    product.price = Number(event.target.querySelector('#product-price').value);
    discountPercentage = Number(event.target.querySelector('#discount-percentage').value);
    const updatedProduct = applyDiscount(product, discountPercentage);
    product = {...product, ...updatedProduct};
  }

</script>

<main>
  <h1>Product Discount Calculator</h1>
  <form on:submit={handleSubmit}>
    <label for="product-name">Product Name:</label>
    <input type="text" id="product-name"><br><br>

    <label for="product-price">Product Price:</label>
    <input type="number" id="product-price"><br><br>

    <label for="discount-percentage">Discount Percentage:</label>
    <input type="number" id="discount-percentage"><br><br>

    <button type="submit">Apply Discount</button>
  </form>

  <h2>Product Information</h2>
  <p>Name: <span>{product.name}</span></p>
  <p>Discounted Price: <span>{product.discountedPrice}</span></p>
</main>




<style>

</style>
